{% load static %}
<footer class="main-footer" id="contact">
    <div class="footer-container">
        <div class="footer-col footer-about">
            <p class="about-text">
                Harikrishna Multimedia Institute is Surat's premier destination for creative education in Animation,
                Game
                Design, VFX, and more.
            </p>
            <div class="social-links">
                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>

        <div class="footer-col">
            <h3 class="col-title">Quick Links</h3>
            <ul class="footer-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#about-us">About Us</a></li>
                <li><a href="{% url 'courses' %}">Courses</a></li>
                <li><a href="#portfolios">Student Work</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="{% url 'contacts' %}">Contact</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h3 class="col-title">Our Courses</h3>
            <ul class="footer-links">
                <li><a href="#">3D Animation</a></li>
                <li><a href="#">VFX</a></li>
                <li><a href="#">Graphics Design</a></li>
                <li><a href="#">Video Editing</a></li>
                <li><a href="#">Full Stack Development</a></li>
                <li><a href="#">Flutter Development</a></li>
            </ul>
        </div>

        <div class="footer-col">
            <h3 class="col-title">Contact Us</h3>
            <div class="contact-info">
                <p><i class="fas fa-map-marker-alt"></i> M-36/37, 2nd Floor, Raj Corner Shopping Centre, TP 10 Main
                    Rd, near
                    L.P. Savani, Pal Surat, Gujarat</p>
                <p><i class="fas fa-phone-alt"></i> +91 96648 33542</p>
                <p><i class="fas fa-envelope"></i> harikrushnamultimedia@gmail.com</p>
            </div>
            <a href="#" class="btn-verify">Verify Student Certificate</a>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2026 Harikrishna Multimedia Institute. All rights reserved.</p>
    </div>
</footer>